:root {
  --basic-color: #fffde7;
  --point-color: #fff9c4;
}

body {
  background-image: ;
}

.container {
  height: 80vh;
  max-width: 80vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.loginForm {
  background-color: var(--basic-color);
  width: 100%;
  height: 15%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: solid;
  border-color: grey;
  box-sizing: border-box;
}

.loginForm input,
.loginForm button {
  height: 30px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
}
.colorChangeBtn {
  position: absolute;
  align-self: flex-end;
  top: 10px;
  right: 15px;
}

.name p {
  font-size: xx-large;
}

.whatTime {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.whatTime span {
  align-self: center;
}
.whatTime span:first-child {
  font-size: 50px;
}
.whatTime span:last-child {
  font-size: 100px;
}

.weather {
  width: 400px;
  height: 60%;
}

.whatTime .randomImg {
  width: 100%;
  height: 80%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toDoForm {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputToDo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 90%;
  /* height: 100px; */
}

.inputToDo input {
  height: 30px;
  width: 80%;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
}

.inputToDo button {
  height: 30px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
}

.toDoList {
  width: 90%;
  height: 90%;
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex;
}

.todo .list ul {
  list-style: none;

  padding: 0px 0px 0px 0px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}
.todo .list li {
  width: 100%;
  margin: 5px 0px 10px 5px;
  border-radius: 10px;
  font-size: x-large;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/* 체크박스 */
.todo .list input {
  width: 20px;
  min-width: 20px;
  height: 20px;
  width: 5%;
  align-self: center;

  /* margin: 10px 10px 10px 10px; */
}
.todo .list span {
  max-width: 90%;
  width: 85%;
  margin: 5px 0px 5px 0px;
}

.todo .list ul li button {
  height: 30px;
  max-width: 55px;
  width: 55px;
  width: 10%;
  box-sizing: border-box;
  align-self: center;
  /* position: absolute;
  right: 520px; */
}

.hidden {
  display: none;
}
